<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
         PUBLIC "-//mybatis.org//DTD Cinfig 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- 配置懒加载 -->
   <settings>
     <setting name="lazyLoodingEnable" value="false"/>
   </settings>
   
   <!-- 给实体类取个别名 -->
   <typeAliases>
     <package name="cn.wlh.pojo"/>
   </typeAliases>

</configuration>